#header {
    background-color: rgb(29, 28, 28); 
    color: white; 
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif;  
    height: 50px; 
    text-align: center;
}

.wrapper {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    
}

#searchBar {
    height: 50px; 
}

#searchHistory {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;

    
}


.search {
    background-color: rgb(248, 247, 247); 
}

#currentResult {
    border: 1px solid black; 
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px; 
}

.currentForecast {
    display: inline-grid; 
    
}

.current-img {
    position: relative; 
    bottom: -14px; 
}

img {
    width: 45px; 

}

#currentForecast {
    padding: 20px;
    margin: 20px;
    background-color: rgb(91, 91, 245);

}

.search-history-btn {
    background-color: white;
    font-size: 18px;
    border: 0.5px solid grey; 
    width: 300px;
    height: 50px;
    text-align: left;
}

.forecast-item {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 

}